img
{
    font-size: 5px;
    padding-top: 15px;
    
   }
   .Tilt
   {
    background-image: linear-gradient(to right top, #7de982, #42e9b5, #25e5dd, #5adef3, #8fd4f5, #99d4f5, #a2d5f5, #aad5f4, #96dffd, #7ee9ff, #69f2fc, #5ffbf1);
 
   }